html{
    scroll-behavior: smooth;
    scroll-padding-top: 3em;
}

.doc-content {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0em;
  width: 230px;
  height: 100vh;
  padding: 1em 2.5em;
  border-right: 1px solid #dbdbdb;
}

.sidebar-close-icon{
    display: none;
}

.sidebar-close-icon>svg{
    font-size: 1.4rem;
}
.main-content {
  width: 100%;
}

.sidebar-link-head{
    font-size: 0.9rem;
    font-weight: 500;
    color: #747474;
    padding: 2em 0;
}

.sidebar-all-links{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar-link{
    font-weight: 500;
    font-size: 1.1rem;
    list-style: none;
}

.sidebar-link a{
    color: var(--black);
    text-decoration: none;
}

.sidebar-link a:hover{
    color: var(--primary);
}

.sidebar-link a:active{
    color: var(--primary-darker);
}

.doc-nav-bar{
   display: flex;
   position: sticky;
   top: 0;
   padding: 1em;
   align-items: center;
   justify-content: right;
   background-color: var(--white);
   z-index: 2;
   margin-bottom: -2.1em
}

.menu-icon{
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 20em;
    border-radius: 3em;
    border: 2px solid var(--black);
    padding: 0 0.5em;
}

.search-msg{
    width: 100%;
    padding: 0.4em 1em;
    border-radius: 3em;
    font-weight: 500;
    color: gray;
    border: none;
    outline: 0;
}

.github-links{
    padding:0 0.6em;
    font-size: 1.8rem;
    color: var(--black);

}

.github-links:hover{
    color: var(--primary);
}

.scroll-top{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.arrow-icon > svg{
    display: flex;
    font-size: 2.2rem;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width:800px) {
    .sidebar-logo{
        font-size: 1rem;
    }
    .search-bar {
        width: 15em;
    }
    .doc-nav-bar{
        padding: 0.8em;
    }
}

@media screen and (max-width:700px) {
    .sidebar-logo{
        font-size: 1rem;
    }
   .doc-nav-bar{
    justify-content: space-between;
   }

    .menu-icon{
        display: inline-block;
        position: relative;
    }
    .mobile-hide{
        display: none;
    }
    .sidebar {
        position: fixed;
        top: 0px;
        left: 0;
        width: 250px;
        height: 100%;
        padding: 1em 2em;
        border-right: 1px solid #dbdbdb;
        background-color: var(--white);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        z-index: 3;
      }
      .sidebar-close-icon{
        display: inline-block;
      
    }
      .search-bar {
        width: 12em;
    }
    .search-msg{
        padding: 0.1em 0.8em;
    }
    .github-links{
        font-size: 1.5rem;
    }
}