
.floating-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:3em;
    height: 3em;
    padding: 0.5em;
    color:#fff;
    margin:1em;
    background-color: var(--primary);
    border: none;
    border-radius: 0.3em;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 2px 5px var(--shadow);
    border-radius: 50%;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.floating-btn:hover{
    background-color:var(--primary-dark);
    transform: translateY(-10px);
}

.floating-btn:active{
    box-shadow: none;
}