.primary-btn{
    padding: 0.5em 1em;
    color:#fff;
    margin:1em;
    background-color: var(--primary);
    border: none;
    border-radius: 0.3em;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 2px 5px var(--shadow);
}

.primary-btn:hover{
    background-color:var(--primary-dark);
}

.primary-btn:active{
    box-shadow: none;
}