.filled-alert{
    display: flex;
    align-items: center;
    height: max-content;
    gap:10px;
    font-size: 1rem;
    max-width: 280px;
    min-width: 280px;
    padding: 1em;
    font-size: 1rem;
    color: var(--white);
    font-weight:500;
    border-radius: 5px;
    border-left: 6px solid var(--black);
}