.letter-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary);
  padding: 1rem;
  width: max-content;
  font-weight: 600;
  color: var(--white);
}

.letter-sm{
    padding: 0.4rem;
    font-size: 15px;
}

.letter-md{
    padding: 1rem;
    font-size: 20px;
}

.letter-lg{
    padding: 1.3rem;
    font-size: 35px;
}

.letter-xl{
    padding: 1.5rem;
    font-size: 55px;
}